/* overriding default label  */
label {
  display: inline;
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Scale Down Card Width on Large Screens */
@media (min-width: 600px) {
  .card-columns .card {
    display: inline-block;
    width: 70%;
  }
}
